/* Styles principaux */
body {
  font-family: $font-family-texte;
  font-size: $font-size-default;
  color: black;
  margin: auto;
}
img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 1.6rem;
  color: $color-primary;
  font-weight: 500;
}
h2 {
  font-weight: 400;
  color: $color-secondary-txt;
  font-size: 1.8rem;
}
h3 {
  font-size: 1.1rem;
}
.bold {
  font-weight: bold;
}
.sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0
}
button {
  cursor: pointer;
}