/* Fonts */

$font-size-default: 16px;
$font-family-texte: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
 
/* colors */

$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-tertiary-txt: #525252;
$color-tertiary-bg: #fafafa;

/* breakpoints */

$medium-screen: 720px;
$large-screen: 1024px;