/* Fonts */

$font-size-default: 16px;
$font-family-texte: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
 
/* colors */

$color-primary: #901c1c;
$color-secondary-txt: #d3573c;
$color-secondary-bg: #DB8876;
$color-tertiary-txt: #757575;
$color-tertiary-bg: #fafafa;

/* breakpoints */
                    
$small-screen: 720px; 
$large-screen: 1024px;