/* Fonts */

$font-size-default: 16px;
$font-family-texte: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
 
/* colors */

$color-primary: #901c1c;
$color-secondary-txt: #d3573c;
$color-secondary-bg: #DB8876;
$color-tertiary-txt: #757575;
$color-tertiary-bg: #fafafa;

/* breakpoints */
$verysmall-screen: 400px;
$mobile-screen: 768px;
$small-screen: 1024px; 
$medium-screen: 1145px;
$large-screen: 1300px;

