.bodyPhotographer {
  font-family: $font-family-texte;
  max-width: 1440px;
  margin: auto;
}
.bloc_page-photographer {
  padding: 0.5rem 7vw 2.5rem;
  max-width: 1240px;
  @include respond-to(small-screen) {
    padding: 0rem 7vw 0rem;
  }
  @import "../layout/header-photographer";
  @import "../layout/main-photographer";
  @import "../components/dropdown";
  @import "../components/infos";
  @import "../components/modale";
  @import "../components/lightbox";
  @import "../components/medias";
}
