.header2 {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 5rem;
  &__link {
    display: flex;
    justify-content: center;
  }
  &__img {
    max-width: 10rem;
    object-fit: contain;
    display: flex;
    align-self: start;
  }
}