.header2 {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 5rem;
  @include respond-to(small-screen) {
    padding: 2.5rem 0rem 2rem;
  }
  &__link {
    display: flex;
    justify-content: center;
  }
  &__img {
    max-width: 12.5rem;
    // object-fit: contain;
    display: flex;
    align-self: start;
    object-fit: contain;

    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    @include respond-to(small-screen) {
      max-width: 9.4rem;
    }
  }
}
.up {
  color: #c4c4c4;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  bottom: 50vh;
  right: 2rem;
  z-index: 3;
  &:hover, &:focus {
    color: $color-primary;
  }
  @include respond-to(small-screen) {
    bottom: 2.7rem;
    right: 0.5rem;
  }
}