header {
  box-sizing: border-box;
}
.contenu {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    background-color: $color-secondary-bg;
    border-radius: 0.3rem;
  }
}
.header {
  display: grid;
  grid-template-columns: 16rem auto 16rem;
  column-gap: 1rem;  
  padding-top: 1rem;
  padding-bottom: 2rem;
  &__link {
    display: flex;
    justify-content: center;
  }
  &__img {
    max-width: 10rem;
    object-fit: contain;
    display: flex;
    align-self: start;
  }
}
.nav {
  &__liste {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    &__item {
      margin: 0.9rem 0.25rem 0.9rem;
    }
    &__link {
      color: $color-primary;
      font-weight: 500;
      padding: 0.3rem;
      border: solid 0.1rem $color-tertiary-txt;
      border-radius: 1.5rem;
      &:hover, &:focus {
        outline: none;
        color: white;
        background-color: $color-primary;
        border: solid 0.1rem $color-primary;
      }
    }
  }
}
.hidden {
  font-size: 1.6rem;
  font-weight: 500;
  visibility: hidden;
}