.photographer {
  background-color: $color-tertiary-bg;
  display: flex;
  padding: 2rem 2rem;
  position: relative;
  &__informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
    &__name {
      color: $color-secondary-txt;
      font-size: 2.5rem;
      font-weight: 400;
      padding-bottom: 1rem;
    }
    &__location {
      color: $color-primary;
      font-weight: 500;
      padding-bottom: 0.5rem;

    }
    &__tagline {
      color: #525252;
      padding-bottom: 0.5rem;

    }
  }
  &__picture {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 2rem;
    display: flex;
    align-self: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -0.3rem;
  padding-top: 1rem;
  &__tag {
    padding: 0rem 0.2rem 1rem;
    &__link {
      color: $color-primary;
      font-weight: 500;
      padding: 0.15rem 0.3rem;
      border: solid 0.05rem #c4c4c4 ;
      border-radius: 1.5rem;
      &:hover, &:focus {
        outline: none;
        color: white;
        background-color: $color-primary;
        border: solid 0.1rem $color-primary;
      }
    }
  }
}
.button {
  position: relative;
  &__contact {
    font-family: $font-family-texte;
    border: none;
    background-color: $color-primary;
    color: white;
    padding: 0.8rem 0.5rem;
    border-radius: 0.3rem;
  }
}
.filters {
  display: flex;
  align-items: baseline;
  padding: 2.5rem 0 2.5rem;
  & > p {
    font-weight: bold;
    padding-right: 2rem;
  } 
}
.dropdown {
  display: flex;
  flex-direction: column;
  background-color: $color-primary;
  color: white;
  border-radius: 0.3rem;
  padding: 0 0.7rem;
  margin-top: 0.8rem;
  cursor: pointer;
  position: relative;

  &__option {
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 8rem;
    &:nth-child(2) {
      border-bottom: solid 0.05rem white;
      border-top: solid 0.05rem white;
    }
  }
}
.arrows {
  position: absolute;
  top: 1.2rem;
  right: 0.6rem;

}

#option2, #option3 {
  display: none;
}
.fa-chevron-down {
  color: white;
  padding: 0 0.5rem 0 1.5rem;
}
.fa-chevron-up {
  color: white;
  padding: 0 0.5rem 0 1.5rem;
  display: none;
}


.media {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
  column-gap: 1rem;
  justify-content: space-between;
}
.article {
  // max-width: 350px;
  // max-height: 350px;
  position: relative;
  padding-bottom: 0.9rem;
  &__link {
    // max-width: 350px;
    max-height: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  &__informations {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    color: $color-primary; 
    font-weight: 500;
    font-size: 1.2rem;
    &__likes {
      display: flex;
      & p:first-child {
        padding: 0 0.7rem;
      }
      & p:nth-child(2) {
        padding: 0 0.3rem 0 0;
      }

    }
  }
}
.logoPlay {
  position: absolute;
  width: 25%;
  top: 32%;
}

.infos {
  position: fixed;
  bottom: 0;
  right: 2.5rem;
  background-color: $color-secondary-bg;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 1.8rem 1.2rem;
  width: 300px;
  border-radius: 0.5rem 0.5rem 0 0;
  &__likes{
    display: flex;
    &__icone {
      padding: 0 0.8rem;
    }

  }

}
.fa-heart {
  cursor: pointer;
}