.select-filters {
  display: flex;
  align-items: flex-start;
  position: relative;
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: $color-primary;
    font-family: $font-family-texte;
    color: white;
    font-size: 1.15rem;
    padding: 0.9rem 0.5rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
  }
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-primary;
  border-radius: 0.3rem;
  padding: 0 0.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  &__option {
    display: flex;
    align-items: center;
    width: 9.5rem;
    height: 3.2rem;
    color: white;
    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:nth-child(2) {
      border-bottom: solid 0.05rem white;
      border-top: solid 0.05rem white;
    }
  }
}
.arrows {
  cursor: pointer;
  padding: .5rem;
  // z-index: 3;
}
.fa-chevron-down {
  color: white;
  padding: 0 .9rem 0 1.7rem;
}
.fa-chevron-up {
  color: white;
  padding: 0 .6rem 0 1rem;
}
.container {
  position: absolute;
  display: none;
}
#button-dropup {
  position: absolute;
  left: 6.7rem;
  z-index: 3;
}


