.lightbox-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background-color: white;
  z-index: 10;
  overflow: auto;
  animation: lightbox2In 0.5s;
  justify-content: center;
}
.lightbox-content {
  margin: 1rem auto;
  max-width: 1253px;
  max-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  @include respond-to(mobile-screen) {
    width: 100vw;
  }
  & button {
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.lightbox {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  @include respond-to(mobile-screen) {
    padding: 1rem 0.3rem;
  }
  &__close {
    width: 2rem;
    height: 2rem;
    background: url(../../images/times-solid.svg) center center / 100% 100% no-repeat;
    position: absolute;
    top: 1rem;
    right: -3.5rem;
    border: none;
    z-index: 12;
    @include respond-to(mobile-screen) {
      background: url(../../images/times-solid.svg) center center / 100% 100% no-repeat;
      width: 1rem;
      top: .2rem;
      right: -1.8rem;
    }
  }
  & button {
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.divLightbox {
  position: relative;
}
.lightbox__next,
.lightbox__prev {
  background: url(../../images/chevron-left-solid.svg) center center / 1.5rem 2.4rem no-repeat;
  width: 1.2rem;
  height: 5rem;
  align-self: center;
  position: relative;
  top: -2rem;
  z-index: 11;
  margin: 0 1.5rem;
  padding: 0 1rem;
  @include respond-to(mobile-screen) {
    background: url(../../images/chevron-left-solid.svg) center center / .8rem 1.3rem no-repeat;
    width: 1rem;
    margin: .6rem;
    padding: 0.6rem;
  }
  @include respond-to(verysmall-screen) {
    width: .5rem;
    top: -1rem;
  }
}
.lightbox__next {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
.lifhtbox__container li img {
  animation: lightbox2In 1s;
}
.lightboxItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titleLightbox {
  color: $color-primary;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  @include respond-to(verysmall-screen) {
    font-size: 1rem;
    padding: 0.6rem 0;
  }
}
.imageLightbox {
  border-radius: 0.5rem;
  overflow: hidden;
  @include respond-to(mobile-screen) {
    border-radius: 0.3rem;
  }
}
.videoLightbox {
  max-width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  @include respond-to(mobile-screen) {
    border-radius: 0.3rem;
  }
}
