
.titleLightbox {
  color: $color-primary;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  text-align: left;
}

.imageLightbox {
  border-radius: 0.5rem;
  overflow: hidden;
}
.videoLightbox {
  max-width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  animation: lightbox2In 0.5s;
  &__close {
    width: 30px;
    height: 30px;
    background: url(../../images/times-solid.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 40px;
    right: 40px;
    border: none;
    z-index: 12;
  }
}

.lightbox__next,
.lightbox__prev {
  background: url(../../images/chevron-left-solid.svg) center center / 32px 56px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // margin: -14px;
  z-index: 11;
  opacity: 0.5;
  margin: 0 2rem;
}
.lightbox__next:hover, 
.lightbox__prev:hover {
  opacity: 1;
}
.lightbox__next {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
.lightbox > button {
  border: none;
  outline: none;
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s;
  text-indent: -3000px;
}
.lightbox button:hover {
  opacity: 1;
}
.lifhtbox__container li img {
  max-width: 100%;
  height: auto;
  animation: lightbox2In 0.5s;
}
.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  margin: 0 auto;
  min-height: 100vh;
}
.lightbox-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@keyframes lightbox2In {
  from { opacity: 0; }
  to { opacity: 1; }
}