.lightbox-background {
  display: none;
  position: absolute;
  justify-content: center;
  // align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  height: 3000px;
  width: 100vw;
  z-index: 5;
}
.lightbox-content {
  background-color: white;
  margin: 3% auto;
  width: 87vw;
  // border: .5rem solid white;

}
.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  &__medias {
    margin: 0 1.5rem;
    position: relative;
  }
}
.mediasLightbox {
  display: flex;
}
// CLOSE // ___________________________________
.closeLightbox {
  position: absolute;
  right: -3rem;
  top: 1rem;  
  color: $color-primary;
  font-size: 3rem;
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}
.closeLightbox:before,
.closeLightbox:after {
  position: absolute;
  content: " ";
  height: 33px;
  width: 4px;
  background-color: $color-primary;
}
.closeLightbox:before {
  transform: rotate(45deg);
}
.closeLightbox:after {
  transform: rotate(-45deg);
}
// ARROWS //___________________________________
.controls {
  width: 3rem;
  height: 40rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  font-size: 3rem;
}
// Classes ajoutées : img, video et txt________
.titleLightbox {
  color: $color-primary;
  padding: 0.8rem 0;
  font-size: 1.5rem;
}
.figureLightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imageLightbox {
  border-radius: 0.5rem;
  overflow: hidden;
}
.videoLightbox {
  max-width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;

}
